.footer__column-link {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}

.footer__column-link:hover {
  opacity: .7;
  transition: opacity .1s;
}
