.change-lang {
  margin: 0;
  padding: 0.25em 0.5em;
  position: fixed;
  top: 50px;
  right: 50px;
  width: 70px;
  font-size: 1rem;
  line-height: 1.1;
  cursor: pointer;
  z-index: 100;
  border: 1px solid grey;
}
